body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 920px;
    margin: 0 auto;
    /* centreren van div */
}

.featured {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 50px;
}

.whoswho {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 50px;

}

.item {
    position: relative;
    float: left;
}

.wonderwoman {
    margin-left: 20px;
}